@use "../../styles/variables" as v;
@use "../../styles/colors" as c;

.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease;
    position: relative;
    color: var(--text-primary);
    border: none;
    opacity: .5;

    &:hover {
        opacity: 1;
    }
}