[data-theme="light"] {
    --bg-primary: #{$gray-50};
    --bg-secondary: #{$white};
    --text-primary: #{$gray-900};
    --text-secondary: #{$gray-800};
    --border-color: #{$gray-350};
    --accent: #{$black};

    --table-bg: #{$gray-100};
}