@use "../../styles/variables" as v;

@mixin modal-structure {
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        backdrop-filter: blur(4px);

        animation: fadeIn 0.3s ease forwards;

        &.is-closing {
            animation: fadeOut 0.3s ease forwards;
        }
    }

    .modal-content {
        background-color: var(--bg-primary);
        padding: v.$gap-xl;
        border-radius: v.$radius-none; // Geometric sharp edges
        max-width: 600px;
        width: 90%;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
        border-top: 6px solid var(--accent);
        color: var(--text-primary);

        animation: fadeInUp 0.4s ease forwards;

        &.is-closing {
            animation: fadeDownOut 0.4s ease forwards;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDownOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(30px);
    }
}